 <html>
<head><title>{% block title %}Gigclub{% endblock %}</title>
<link href="{{ asset('bundles/gigclubmembership/css/main.css') }}" rel="stylesheet" type="text/css" />

</head>
<body>
<h1><img src="{{ asset('bundles/gigclubmembership/images/logo_bgrc111.png') }}" alt= "Bridport Gig Club" /></h1>

<ul>
<li><a href="{{ path('member') }}">list members</a></li>
<li><a href="{{ path('member') }}">admin members</a></li>
<li><a href="{{ path('member') }}">cox members</a></li>
<li><a href="{{ path('membership') }}">list accounts</a></li>
<li><a href="{{ path('membership_new') }}">Join</a></li>
<li><a href="{{ path('membershiptype') }}">admin member types</a></li>
</ul>
<div id="content">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
